apiVersion: apps/v1
kind: Deployment
metadata:
  name: voice-assistant-deployment-frontend
  namespace: voice-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: voice-assistant
  template:
    metadata:
      labels:
        app: voice-assistant
    spec:
      containers:
        - name: voice-assistant
          image: azizzakiryarov/voice-assistant-frontend:latest
          ports:
            - containerPort: 80