apiVersion: v1
kind: Service
metadata:
  name: voice-assistant-service-frontend
  annotations:
    metallb.universe.tf/loadBalancerIP: 192.168.50.79
spec:
  selector:
    app: voice-assistant
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 80
  type: LoadBalancer