[Unit]
Description=Check encrypted Raspberry Pi Restic repository
Documentation=file:/usr/local/share/doc/raspberry-backup/RESTORE.md
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Group=root
UMask=0077
ExecStart=/usr/local/sbin/backup.sh check
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=8h
